<h1><%= @customer.name %></h1>
<%= @customer.email %>
<%= @customer.street %>
<%= @customer.suburb %>
<%= @customer.postcode %>
<%= @customer.state %>
<%= @customer.country %>
<% @customer.orders.each do |order| %>
  <%= link_to(order.id, order_path) %>
  <%= order.status %>
<% end %>