<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>







<div class="col-md-12 main">
          <h1 class="page-header">Dashboard</h1>
          <div class="row placeholders">
          <h2 class="sub-header">Customers</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#Customer Id</th>
                  <th>Name</th>
                  <th>Email</th>
                </tr>
              </thead>
              <% @customers.each do | customer| %>
              <tbody>
                <tr>
                  <td><%= customer.id %></td>
                  <td><%= customer.name %></td>
                  <td><%= customer.email %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <h2 class="sub-header">Categories</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#Category Id</th>
                  <th>Category Name</th>
                </tr>
              </thead>
              <% @categories.each do | category | %>
              <tbody>
                    <tr>
                      <td><%= category.id %></td>
                      <td><%= category.name %></td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
            <h2 class="sub-header">Products</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#Product Id</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Description</th>
                </tr>
              </thead>
              <% @products.each do | product | %>
              <tbody>
                    <tr>
                      <td><%= product.id %></td>
                      <td><%= product.name %></td>
                      <td>$<%= product.price %></td>
                      <td><%= product.description %></td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
          <h2 class="sub-header">Latest Orders</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#Order Id</th>
                  <th>#Customer Id</th>
                  <th>Order Status</th>
                  <th>Order Memo</th>
                  <th>Country</th>
                  <th>Time Stamp</th>
                </tr>
              </thead>
              <% @orders.each do | order | %>
              <tbody>
                <tr>
                  <td><%= order.id %></td>
                  <td><%= order.customer_id %></td>
                  <td><%= order.status %></td>
                  <td><%= order.memo %></td>
                  <td><%= order.country %></td>
                  <td><%= order.created_at.strftime("%B %d, %Y")%></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>