





<div class="col-md-12 main">
          <h1 class="page-header">Dashboard</h1>
          <div class="row placeholders">
          <h2 class="sub-header">Customers</h2>
          <%= content_tag :div, "", id: "customers_chart", data: {customers: @customers_all} %>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#Customer Id</th>
                  <th>Name</th>
                  <th>Email</th>
                </tr>
              </thead>
              <% @customers.each do | customer| %>
              <tbody>
                <tr>
                  <td><%= customer.id %></td>
                  <td><%= customer.name %></td>
                  <td><%= customer.email %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <h2 class="sub-header">Categories</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#Category Id</th>
                  <th>Category Name</th>
                  <th>Category Description</th>
                </tr>
              </thead>
              <% @categories.each do | category | %>
              <tbody>
                    <tr>
                      <td><%= category.id %></td>
                      <td><%= category.name %></td>
                      <td><%= category.description %></td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
            <h2 class="sub-header">Products</h2>
            <%= content_tag :div, "", id: "products_chart", data: { products: @products_all} %>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#Product Id</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Description</th>
                </tr>
              </thead>
              <% @products.each do | product | %>
              <tbody>
                    <tr>
                      <td><%= product.id %></td>
                      <td><%= product.name %></td>
                      <td>$<%= product.price %></td>
                      <td><%= product.description %></td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
          <h2 class="sub-header">Latest Orders</h2>
<%= content_tag :div, "", id: "orders_chart", data: {orders: @allorders} %>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#Order Id</th>
                  <th>#Customer Id</th>
                  <th>Order Status</th>
                  <th>Order Memo</th>
                  <th>Country</th>
                  <th>Time Stamp</th>
                </tr>
              </thead>
              <% @orders.each do | order | %>
              <tbody>
                <tr>
                  <td><%= order.id %></td>
                  <td><%= order.customer_id %></td>
                  <td><%= order.status %></td>
                  <td><%= order.memo %></td>
                  <td><%= order.country %></td>
                  <td><%= order.created_at.strftime("%B %d, %Y")%></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>