<!DOCTYPE html>
<html>
<head>
  <title>BackendApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="class="col-sm-3 col-md-2 sidebar">
    <nav><%== intellinav  %></nav>
  </div>

</div>
<%= yield %>

</body>
</html>

