<%= form_for(:user) do |f| %>
<div class="container-fluid">

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
<br>
  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control" %>
<br>
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control"%>
<br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control"%>
<br>
  <%= f.submit :Signup, class: "btn btn-primary" %>
</div>
<% end %>

<% if @user.errors.any? %>
    <% for message_error in @user.errors.full_messages %>
      <%= message_error %>
    <% end %>
<% end %>


